

body {
    font-family: 'Open Sans';
}

.bg-magenta {
    background-color: #e83e8c;
}

.height {
    height: 53px;
}

.produc {
    color: #707070;
    font size: 82px;   
}

.height2 {
    height: 100px;
}

.color2 {
    color: #373a3c;
    font size: 17px;
}

.card-text {
    color: #373a3c;
    font size: 16px;
}

.list-group-item {
    color: #373a3c;
    font size: 11px;
}

.card-link {
    color: #1c7cd5;
    font size: 11px;
}

.acep {
    font-size: 40px;
}

.icons-section {
    background-color:#17A2B8;
}

.white {
    color: #ffffff;
}

    
    







